@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important; }

html {
  height: 100%; }

body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #152330;
  font-size: 18px; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.butn {
  display: inline-block;
  padding: 17px 19px 18px;
  background-color: #f23b3f;
  min-width: 190px;
  text-align: center;
  border: 2px solid #f23b3f;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.butn:hover, .butn:focus {
  text-decoration: none;
  color: #f23b3f;
  background-color: #fff; }

header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9; }

.header__top {
  min-height: 55px;
  background: rgba(29, 48, 65, 0.8); }

#nav {
  list-style: none;
  display: block;
  text-align: justify;
  line-height: 0;
  margin-bottom: -7px; }

#nav:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block; }

#nav > li {
  display: inline-block;
  text-align: left;
  line-height: normal;
  position: relative;
  padding: 0 15px; }

#nav > li:first-child {
  margin-left: 30px; }

#nav > li:last-child {
  margin-right: 30px; }

#nav > li a {
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  line-height: 55px;
  text-transform: uppercase;
  color: #8e969d; }

#nav > li a:hover {
  color: #f23b3f;
  text-decoration: none; }

#nav > li.current {
  background-color: #f23b3f; }

#nav > li.current:after, #nav > li.current:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid; }

#nav > li.current:before {
  right: 100%;
  border-width: 0 0 55px 30px;
  border-color: transparent transparent #f23b3e transparent; }

#nav > li.current:after {
  left: 100%;
  border-width: 55px 30px 0 0;
  border-color: #f23b3e transparent transparent transparent; }

#nav > li.current a {
  color: #ffffff; }

#nav > li.current a:hover {
  color: #ffffff; }

.header__bottom {
  padding-top: 40px; }

.logo {
  float: left; }

.logo img {
  max-width: 100%; }

.mail {
  float: right;
  padding-right: 105px;
  position: relative; }

.mail:after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 93px;
  background: #de3a3f;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 20px;
  right: 0; }

.mail a,
.mail span {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1; }

.mail span {
  display: block; }

.mail a {
  text-decoration: underline; }

.phone {
  float: right; }

.phone a[href*='tel'] {
  display: block;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  margin-bottom: 10px; }

.phone a[data-toggle*='modal'] {
  display: block;
  color: #f23b3f;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 28px;
  position: relative; }

.phone a[data-toggle*='modal'] span {
  display: inline-block;
  border-bottom: 1px dotted #f23b3f; }

.phone a[data-toggle*='modal']:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 17px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17'%3E%3Cpath fill='%23f23b3f' d='M4.24 17c.42 0 .83-.07 1.23-.21A16.87 16.87 0 0 0 15.82 6.16a3.67 3.67 0 0 0-1.27-4.05l-.78-.6a2.5 2.5 0 0 0-3.74.85L8.69 4.95c-.12.24-.19.52-.19.8 0 .43.16.85.46 1.18l.28.3c.28.3.33.74.15 1.1a4.72 4.72 0 0 1-2.05 2.05.98.98 0 0 1-1.1-.15l-.31-.28a1.78 1.78 0 0 0-1.98-.26l-2.59 1.33A2.49 2.49 0 0 0 .72 15l.9.9c.69.7 1.64 1.1 2.62 1.1zm8.01-14.5c.22 0 .43.07.61.2l.78.6c.74.56 1.04 1.53.75 2.4a15.32 15.32 0 0 1-9.42 9.68c-.78.27-1.7.06-2.28-.53l-.9-.9a1 1 0 0 1 .26-1.6l2.59-1.33c.1-.05.23 0 .28.04l.3.28c.75.68 1.91.84 2.81.37a6.22 6.22 0 0 0 2.69-2.69c.47-.92.32-2.04-.38-2.8l-.27-.3a.25.25 0 0 1-.07-.17l.03-.12 1.33-2.59a1 1 0 0 1 .89-.54z'/%3E%3C/svg%3E"); }

.phone a[data-toggle*='modal']:hover span {
  border-color: transparent; }

.video-wrap {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; }

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%; }

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%; }

.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

section {
  padding: 80px 0 60px; }

#main {
  background: url("../img/bg-banner.png") no-repeat center;
  background-size: cover;
  padding-top: 148px;
  position: relative;
  padding: 150px 0 30px; }

.main-banner {
  padding-top: 175px; }

.main-banner__title p:first-child {
  color: #f23b3f;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px; }

.main-banner__title p:last-child {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 55px;
  letter-spacing: 3.8px; }

.main-banner__title h1 {
  color: #ffffff;
  font-size: 110px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 18px;
  letter-spacing: 2px; }

.main-banner__butn-holder {
  margin-bottom: 180px; }

.red-color {
  color: #f23b3f; }

.main-banner__promo p {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
  color: #fff; }

.main-banner__promo p:last-child {
  font-size: 60px; }

.scroll-down {
  position: absolute;
  bottom: 80px;
  right: -20px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  font-style: italic;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 30px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.scroll-down:before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 20px;
  left: 0;
  bottom: -5px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='20' viewBox='0 0 10 20'%3E%3Cpath fill='%23fff' d='M4.96 19.82l3.89-3.86a.6.6 0 0 0 0-.85.62.62 0 0 0-.87 0L5.02 18v-17c0-.33-.16-1-.5-1-.34 0-.5.67-.5 1v17l-2.96-2.9a.6.6 0 0 0-1.04.42c0 .16.05.31.18.43l3.89 3.86c.24.24.63.24.87 0z'/%3E%3C/svg%3E");
  z-index: 1; }

.scroll-down:after {
  content: "";
  display: block;
  position: absolute;
  left: -22px;
  bottom: -38px;
  width: 0;
  height: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border-style: solid;
  border-width: 0 0 92px 92px;
  border-color: transparent transparent #f23b3e transparent; }

.scroll-down:focus, .scroll-down:hover {
  color: #fff;
  text-decoration: none; }

.section-title {
  margin-bottom: 60px;
  position: relative; }

.section-title__top {
  display: block;
  color: #152330;
  font-size: 17px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase; }

.section-title__bottom {
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
  color: #152330; }

.section-title:before {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 50%;
  background: -webkit-linear-gradient(159deg, transparent 29.8px, #f23b3f 30px);
  background: linear-gradient(-69deg, transparent 29.8px, #f23b3f 30px); }

.section-title_white .section-title__bottom,
.section-title_white .section-title__top {
  color: #fff; }

.text__accent {
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
  color: #152330; }

.about-text {
  margin-bottom: 50px; }

.about-text p {
  margin-bottom: 20px; }

#services {
  background-color: #f1f3f7; }

.service {
  display: block;
  height: 300px;
  position: relative;
  padding: 0; }

.service__title {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 35px;
  color: #ffffff; }

.service__title p {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 20px; }

.service__title span {
  padding: 6px 14px 10px;
  background-color: #f23b3f;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase; }

.service_1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/bg-service1.png");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg-service1.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg-service1.png"); }

.service_1:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 59, 63, 0.8)), to(rgba(242, 59, 63, 0.8))), url("../img/bg-service1.png");
  background: -webkit-linear-gradient(rgba(242, 59, 63, 0.8), rgba(242, 59, 63, 0.8)), url("../img/bg-service1.png");
  background: linear-gradient(rgba(242, 59, 63, 0.8), rgba(242, 59, 63, 0.8)), url("../img/bg-service1.png"); }

.service_2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/bg-service2.png");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg-service2.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg-service2.png"); }

.service_2:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 59, 63, 0.8)), to(rgba(242, 59, 63, 0.8))), url("../img/bg-service2.png");
  background: -webkit-linear-gradient(rgba(242, 59, 63, 0.8), rgba(242, 59, 63, 0.8)), url("../img/bg-service2.png");
  background: linear-gradient(rgba(242, 59, 63, 0.8), rgba(242, 59, 63, 0.8)), url("../img/bg-service2.png"); }

.service_3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/bg-service3.png");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg-service3.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg-service3.png"); }

.service_3:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 59, 63, 0.8)), to(rgba(242, 59, 63, 0.8))), url("../img/bg-service3.png");
  background: -webkit-linear-gradient(rgba(242, 59, 63, 0.8), rgba(242, 59, 63, 0.8)), url("../img/bg-service3.png");
  background: linear-gradient(rgba(242, 59, 63, 0.8), rgba(242, 59, 63, 0.8)), url("../img/bg-service3.png"); }

.service:hover .service__title span {
  background-color: #fff;
  color: #f23b3f; }

.services-wrap {
  margin-bottom: 60px; }

#reasons {
  background: url("../img/bg-reasons.png") no-repeat center;
  background-size: cover; }

.reason {
  width: 20%;
  float: left;
  margin-bottom: 60px; }

.reason__icon-wrap {
  width: 176px;
  height: 176px;
  margin: 0 auto 35px;
  background: url("../img/bg-reason.png") no-repeat center;
  background-size: contain;
  position: relative; }

.reason__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 149px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0 3px #f23b3f, 0 -1px 0 1px #fff;
          box-shadow: 0 0 3px #f23b3f, 0 -1px 0 1px #fff; }

.reason__icon svg {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #f23b3f; }

.reason__title {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.5;
  text-transform: uppercase; }

.reason:hover .reason__icon {
  -webkit-box-shadow: 0 0 3px #f23b3f, 0 -1px 0 1px #f23b3f;
          box-shadow: 0 0 3px #f23b3f, 0 -1px 0 1px #f23b3f;
  background: #f23b3f; }

.reason:hover .reason__icon svg {
  fill: #152330 !important; }

.reason:hover .reason__title {
  color: #f23b3f; }

.slider {
  padding: 0 59px;
  position: relative; }

.slider .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 59px;
  z-index: 999;
  color: #4f96d0;
  font-size: 32px;
  line-height: 1; }

.slider .slick-arrow span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -16px;
  text-align: center; }

.slider .slick-arrow:hover {
  color: #2ec47a; }

.slider .slick-arrow-right {
  right: 0; }

.slider .slick-arrow-left {
  left: 0; }

.modal-content .contacts-form-wrapper {
  position: relative; }

.close-x {
  top: 15px;
  right: 15px;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.close-x:hover {
  opacity: .8; }

.close-x:before, .close-x:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 22px;
  top: 7px;
  left: -3px;
  background: #fff; }

.close-x:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-x:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

/*MEDIA QUERY*/
