main
	section#main
		.container
			.main-banner
				.main-banner__title
					p новое слово в мире фитнеса
					h1 Freestyler
					p тренажер для упражнений в 3D формате
				.main-banner__butn-holder
					a.butn(data-toggle="modal" href="#myModal") оставьте заявку
				.main-banner__promo
					p акция! 
						span.red-color успей получить от 10 000 рублей
					p в подарок
		a.scroll-down(href="#") scroll down
	section#about
		.container
			.section-title
				span.section-title__top что это
				h2.section-title__bottom
					|  freestyler
					span.red-color fitness
			.row
				.col-md-7
					.about-text
						p Freestyler Fitness - это тренажёр нового поколения, который предоставляет собой универсальную фитнес-доску оснащенную эластичными жгутами, которые позволяют моделировать всевозможные движения человека.
						.text__accent Мимимум усилий, максимум 
							span.red-color эффективности!
					.about-butn-holder
						a.butn(data-toggle="modal" href="#myModal") оставьте заявку
				.col-md-5
					.video-wrap
						iframe(width='560', height='315', src='https://www.youtube.com/embed/ae_64joLnlY?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
	section#services
		.container
			.section-title
				span.section-title__top наши
				h2.section-title__bottom
					| пакеты
					span.red-color оборудования
			.services-wrap.clearfix
				a.col-md-4.service.service_1(href='#')
					.service__title
						p CD + поддержка
						span 6 фристайлеров
				a.col-md-4.service.service_2(href='#')
					.service__title
						p  1 обучение тренера бесплатно
						span 11 фристайлеров 
				a.col-md-4.service.service_3(href='#')       
					.service__title  
						p 2 обученых инструкторов бесплатно
						span 15 фристайлеров
			.text-center
				a.butn(data-toggle="modal" href="#myModal") оставьте заявку
	section#reasons
		.container
			.section-title.section-title_white
				span.section-title__top 5 причин
				h2.section-title__bottom
					| купить  
					span.red-color freestyler
			.reasons-wrap.clearfix
				.reason
					.reason__icon-wrap
						.reason__icon
							svg(xmlns='http://www.w3.org/2000/svg', width='74', height='100', viewbox='0 0 74 100')
								path(d='M38.13 34.37c-16.37 0-29.7 13.03-29.7 29.04 0 16.01 13.33 29.04 29.7 29.04 16.38 0 29.7-13.02 29.7-29.04s-13.32-29.04-29.7-29.04zm0 56.12c-15.3 0-27.74-12.15-27.74-27.08 0-14.93 12.44-27.08 27.74-27.08 15.3 0 27.75 12.15 27.75 27.08 0 14.93-12.45 27.08-27.75 27.08zm31.83-54.53l.09.08a3.08 3.08 0 0 0 4.25-.39 2.98 2.98 0 0 0-.4-4.24l-8.46-6.94a3.04 3.04 0 0 0-4.25.39 2.97 2.97 0 0 0 .4 4.24l.05.05-3.26 3.86a36.1 36.1 0 0 0-16.3-5.97v-3.5c4.4-1.72 7.5-5.92 7.75-10.69.17-3.25-.93-6.38-3.1-8.8A12.01 12.01 0 0 0 38.36.02a12.2 12.2 0 1 0-5 23.56v3.57a36.02 36.02 0 0 0-15.64 5.97l-3.35-3.98.06-.04a3 3 0 0 0 .39-4.25 3.05 3.05 0 0 0-4.25-.38L2.09 31.4a3 3 0 0 0 1.94 5.32c.68 0 1.36-.23 1.92-.69l.09-.07 3.77 4.47A36.48 36.48 0 0 0 1.7 63.41C1.7 83.58 18.04 100 38.13 100c20.1 0 36.44-16.42 36.44-36.59 0-8.77-3.1-16.84-8.24-23.15zm-7.28-9.83a1.1 1.1 0 0 1 1.53-.14l8.46 6.94a1.02 1.02 0 0 1 .14 1.45c-.38.44-1.08.5-1.53.13l-8.46-6.93a1.03 1.03 0 0 1-.37-.7 1 1 0 0 1 .23-.75zm.2 4.58l5.29 4.34-2.88 3.41L60 34.12zM27.53 11.65c.3-5.63 5.12-9.94 10.71-9.67a10.18 10.18 0 0 1 9.63 10.76 10.29 10.29 0 0 1-5.8 8.68v-1.34a9.05 9.05 0 0 0-3.89-16.91 9.04 9.04 0 0 0-4.83 16.92v1.34a10.24 10.24 0 0 1-5.82-9.78zm10.18 2.7c-2.4 0-4.36 1.73-4.36 3.86v.28A7.67 7.67 0 0 1 38.1 4.54a7.67 7.67 0 0 1 3.97 13.94v-.27c0-2.13-1.96-3.86-4.37-3.86zm2.41 3.86v8.67a32.9 32.9 0 0 0-4.82.06v-8.73c0-1.03 1.1-1.9 2.41-1.9 1.3 0 2.41.87 2.41 1.9zM4.72 34.52c-.46.37-1.16.3-1.53-.14a1.02 1.02 0 0 1 .14-1.45l8.46-6.94c.2-.16.45-.24.7-.24.3 0 .62.13.83.38a1 1 0 0 1 .24.75c-.03.27-.16.52-.38.7zm3.1.53l5.3-4.34L16 34.12l-5.3 4.34zm64.8 28.36a34.6 34.6 0 0 1-34.49 34.63A34.6 34.6 0 0 1 3.65 63.41a34.6 34.6 0 0 1 34.48-34.63 34.6 34.6 0 0 1 34.48 34.63zm-27.67 6.28h-3.19V48.91a.97.97 0 0 0-1.3-.92l-9.82 3.53a.98.98 0 0 0-.64.93v5.17c0 .31.14.6.4.79a1 1 0 0 0 .87.15l2.97-.94v12.07h-3.5a.97.97 0 0 0-.97.98v4.87c0 .54.44.98.98.98h14.2c.54 0 .98-.44.98-.98v-4.87a.98.98 0 0 0-.98-.98zm-13.23 4.86v-2.9h3.5c.53 0 .97-.44.97-.98V56.29a.98.98 0 0 0-.4-.79.97.97 0 0 0-.87-.15l-2.97.94v-3.15l7.85-2.84v20.37c0 .54.44.98.98.98h3.19v2.9zm26.08-24a25.33 25.33 0 0 1 3.65 11.14c.07.88 1.44.89 1.37 0A26.95 26.95 0 0 0 59 49.85c-.45-.76-1.65-.07-1.19.7zM45.37 38.88c-.84-.3-1.2 1.04-.37 1.33a25.3 25.3 0 0 1 11.45 8.36c.55.7 1.52-.28.97-.97a26.45 26.45 0 0 0-12.05-8.72z')
					.reason__title практическая
						br
						| ценность
				.reason
					.reason__icon-wrap
						.reason__icon
							svg(xmlns='http://www.w3.org/2000/svg', width='97', height='100', viewbox='0 0 97 100')
								path(d='M96.97 94.29c-.9-3.68-3.36-4.66-5.15-5.37A7.47 7.47 0 0 1 90 88l-.35-.2c.64-5.46 1-11.13 1-16.94 0-28.38-10.43-61.97-19.22-61.97-8.8 0-19.22 33.59-19.22 61.97 0 5.22.29 10.35.8 15.31a8.66 8.66 0 0 0-.5-.02c-1.4-.01-2.53.5-3.58.96-.84.36-1.63.71-2.36.73l-.94-.01a138.43 138.43 0 0 0 2.34-25.86C47.97 33.59 37.55 0 28.75 0 19.95 0 9.54 33.59 9.54 61.97c0 9.61.9 18.92 2.59 27.13A37.93 37.93 0 0 0 .34 95.11a.86.86 0 0 0-.16 1.21c.17.22.43.33.69.33.18 0 .37-.06.52-.18 4.04-3.08 12.6-7.86 19.17-6.17 1.6.41 4.46-.48 8.32-1.78 1.56-.52 3.03-1.02 3.78-1.12 4.07-.6 5.77.11 7.56.86 1.53.64 3.26 1.37 6.39 1.29a7.98 7.98 0 0 0 3.02-.87 7.16 7.16 0 0 1 2.81-.81h.05c.38 0 .76.03 1.15.05.7.04 1.44.09 2.19.02 2.88-.27 4.74-2.06 6.38-3.64 1.7-1.64 3.16-3.06 5.56-3.06 1.93 0 3.74 1 5.38 2.99l.4.5c1.24 1.52 2.64 3.25 5.12 4 2.4.72 3.91.31 5.25-.06 1.3-.36 2.32-.65 4.14.21.37.16.69.37 1 .57.4.26.81.51 1.27.72l.85.35c1.68.67 3.41 1.35 4.1 4.17.12.46.6.74 1.06.63a.85.85 0 0 0 .63-1.03zM26.24 68.85v18.73c-2.1.67-4.35 1.29-5.25 1.06a15.74 15.74 0 0 0-7.19.04 135.28 135.28 0 0 1-2.54-26.71c0-29.53 10.39-58.38 16.87-60.16l.04 64.61a2.5 2.5 0 0 0-1.93 2.43zm3.8 17.48l-1.72.56-.84.29V68.85a1.28 1.28 0 1 1 2.55 0zm10.85.35c-1.93-.81-3.94-1.65-8.48-.99-.31.05-.71.15-1.14.27V68.85a2.5 2.5 0 0 0-1.87-2.41l-.03-64.63c6.49 1.78 16.87 30.64 16.87 60.16 0 9.07-.81 17.86-2.34 25.69-1.19-.22-2.09-.6-3.01-.98zm29.78-6.55a7.21 7.21 0 0 0-2.89-.61h-.02c-.67 0-1.28.1-1.85.25l-.39-.52a.25.25 0 0 0-.34-.05c-.11.07-.14.23-.06.34l.3.39c-.65.22-1.24.53-1.78.89l-1.12-1.52a.26.26 0 0 0-.34-.06.25.25 0 0 0-.06.35l1.11 1.52c-.58.43-1.12.91-1.65 1.41l-2.52-3.55a.25.25 0 0 0-.34-.06.25.25 0 0 0-.06.34l2.56 3.61-.22.21c-.5.48-1 .95-1.5 1.38l-3.34-4.7a.25.25 0 0 0-.35-.06.24.24 0 0 0-.06.34l3.36 4.73a6.39 6.39 0 0 1-3.44 1.47c-.3.03-.6.04-.9.03-.52-4.8-.8-9.74-.82-14.78h16.73zm.01-9.89H53.94c.01-1.95.07-3.9.16-5.85h16.6zm.01-7.07H54.17c1.55-26.63 10.7-50.78 16.62-52.46zm1.33-52.47c5.92 1.57 15.1 25.78 16.66 52.46H71.93zm16.11 75.05l-3.12-4.33a.25.25 0 0 0-.34-.06.24.24 0 0 0-.06.34l3.45 4.79L88 87a6.08 6.08 0 0 0-2.45-.39l-3.7-5.14a.25.25 0 0 0-.35-.06.24.24 0 0 0-.06.34l3.54 4.92c-.54.08-1.04.21-1.53.34l-.9.23-4.38-6.13c-.07-.1-.22-.12-.33-.05a.24.24 0 0 0-.05.33l4.24 5.93a6.2 6.2 0 0 1-2.87-.24c-.15-.04-.27-.12-.42-.18l-3.63-4.98a.25.25 0 0 0-.33-.05.23.23 0 0 0-.06.32l3.17 4.34a11.27 11.27 0 0 1-3-2.88l-.41-.51a11.51 11.51 0 0 0-2.6-2.35l.02-9.32H88.9a145.2 145.2 0 0 1-.77 14.28zM71.92 70.24v-5.85h16.83c.1 1.95.15 3.9.16 5.85zM14.9 94.01a.9.9 0 1 0 1.78 0 .9.9 0 0 0-1.78 0zm15.68 3.47a.9.9 0 0 0 1.78 0 .9.9 0 0 0-1.78 0zm2.64-6.38a.9.9 0 1 0 1.78 0 .9.9 0 0 0-1.78 0zm10.42 6.38a.9.9 0 1 0 1.78 0 .9.9 0 0 0-1.78 0zm8.28-4.56a.9.9 0 0 0 1.78 0 .9.9 0 0 0-1.78 0zm15.63 6.19a.9.9 0 0 0 1.78 0 .9.9 0 0 0-1.78 0zm2.24-9.54a.9.9 0 1 0 1.79 0 .9.9 0 0 0-1.79 0zM81 93.8a.9.9 0 0 0 1.8 0c0-.49-.4-.88-.9-.88s-.9.39-.9.88z')
					.reason__title мобильность
				.reason
					.reason__icon-wrap
						.reason__icon
							svg(xmlns='http://www.w3.org/2000/svg', width='100', height='100', viewbox='0 0 100 100')
								path(d='M79.3 20.04l1.03-.89-1.04-1.16-1.01.91 1.02 1.14zm-3.13-3.37l.98-.94a63.5 63.5 0 0 0-1.1-1.11l-.96.96 1.08 1.09zm1.59 1.66l1-.92a96 96 0 0 0-1.07-1.13l-.98.94 1.05 1.11zM53.87.44C53.35.33 52.82.23 52.3.16L52.1 1.5c.49.07.98.16 1.47.27zm20.68 14.61l.95-.97c-.37-.36-.74-.72-1.13-1.07l-.93.98 1.1 1.06zm6.23 6.73l1.06-.86-1-1.19-1.04.88.98 1.17zM49.9 1.36l.13-.01c.38.01.76.02 1.15.05l.2.02.13-1.35-.23-.02C50.8.01 50.36 0 49.9 0h-.16l-.14.07.3.61v.68zM36.58 5.97l-.75-1.13-1.3.87.79 1.11 1.26-.85zm-3.7 2.67l-.85-1.06-1.21.99.87 1.04 1.19-.97zm1.82-1.38l-.8-1.09-1.26.93.84 1.08c.4-.32.81-.62 1.22-.92zm-3.59 2.84l-.89-1.03-1.17 1.03.91 1.01 1.15-1.01zm-1.72 1.52l-.92-1-1.14 1.06.94.98 1.13-1.04zm-1.67 1.57l-.95-.97-1.11 1.09.97.96 1.09-1.08zm-1.63 1.62l-.98-.94-1.07 1.11.99.93 1.06-1.1zM38.52 4.79l-.67-1.18c-.46.26-.9.52-1.36.81l.73 1.14c.43-.27.87-.53 1.3-.77zm6.22-2.68L44.37.8c-.51.15-1.01.31-1.52.48l.46 1.28c.47-.17.95-.32 1.43-.45zm28.14 11.36l.92-.99-1.15-1.05-.91 1.01 1.14 1.03zM46.93 1.61L46.7.27c-.52.09-1.04.2-1.56.33l.33 1.32c.48-.13.97-.23 1.46-.31zm-6.4 2.12l-.6-1.22c-.47.22-.93.46-1.4.72l.65 1.19c.45-.24.9-.48 1.35-.69zm2.07-.91l-.49-1.26c-.49.19-.98.39-1.46.61l.57 1.24c.45-.21.92-.41 1.38-.59zm6.55-1.45L49.09.02c-.53.02-1.06.07-1.6.14l.18 1.34c.5-.06.98-.11 1.48-.13zm16.62 6.31l.78-1.11-1.28-.88-.76 1.13 1.26.86zm-1.9-1.28l.75-1.14-1.33-.83-.71 1.16c.43.26.87.53 1.3.81zm3.74 2.64l.83-1.08a41.3 41.3 0 0 0-1.25-.93l-.8 1.09 1.22.92zm1.8 1.42l.87-1.05-1.22-.97-.84 1.06c.4.32.8.63 1.19.96zm1.76 1.48l.9-1.02-1.2-1.01-.87 1.04c.4.32.78.65 1.17.99zM62.6 4.03c-.46-.26-.91-.52-1.37-.76l-.64 1.19 1.33.74zm-6.44-2.96c-.5-.16-1.01-.31-1.52-.44l-.34 1.31c.48.12.96.26 1.44.42zM24.5 16.47l-1-.93-1.05 1.14 1.01.91 1.04-1.12zm-1.55 1.69l-1.02-.9-1.03 1.15 1.03.89 1.02-1.14zM58.4 1.91c-.5-.21-.98-.4-1.47-.58l-.47 1.27c.47.17.94.36 1.4.56zm2.14.99c-.47-.23-.94-.46-1.42-.67l-.57 1.23c.46.21.92.43 1.37.66zm38.07 48.79c-.03.39-.07.77-.12 1.16l1.35.19c.06-.42.1-.84.13-1.26l.02-.34-1.37-.05zm-.57 3.34l1.32.35c.14-.52.25-1.04.35-1.55l-1.34-.25c-.09.49-.2.97-.33 1.45zm-7.92-22.38l1.05-.87a124 124 0 0 0-1.02-1.18l-1.02.9.99 1.15zm2.83 3.59l1.11-.78c-.3-.43-.62-.84-.93-1.26l-1.09.83c.31.39.61.8.91 1.21zm1.29 1.88l1.15-.73-.88-1.3-1.12.78.85 1.25zm-5.62-7.19l1.01-.9-1.05-1.15-1 .93 1.04 1.12zm6.8 9.13l1.18-.66c-.25-.46-.52-.9-.79-1.35l-1.17.71c.27.43.53.87.78 1.3zm1.94 17.11l1.28.47c.18-.5.35-1 .5-1.5l-1.3-.39c-.15.47-.31.95-.48 1.42zm1.11-8.72l1.35-.19c-.07-.52-.17-1.05-.28-1.57l-1.33.3c.1.48.19.97.26 1.46zm.17 2.2H100c0-.54-.03-1.07-.08-1.6l-1.36.13c.05.49.07.98.08 1.47zm-2.18-8.58l1.23-.58c-.22-.47-.46-.94-.71-1.4l-1.2.63c.24.45.46.9.68 1.35zm1.57 4.2l1.32-.35c-.14-.5-.29-1.01-.46-1.51l-1.29.43c.16.48.3.95.43 1.43zm-.69-2.13l1.28-.48c-.18-.49-.38-.97-.6-1.45l-1.25.54c.21.46.4.93.57 1.39zm-5.77-9.72l1.08-.83-.98-1.22-1.06.87c.33.39.65.78.96 1.18zm-1.29 34.33l1.05.87c.33-.4.66-.8.98-1.22l-1.07-.83-.96 1.18zm-1.5 1.74l1.03.9c.34-.38.68-.77 1.02-1.18l-1.04-.87-1 1.15zm-1.55 1.68l1 .94 1.06-1.14-1.01-.91c-.36.39-.7.76-1.05 1.11zm.44 1.5l-.97-.95-1.07 1.06a3.42 3.42 0 0 0-2.68-.31 39.14 39.14 0 0 0 7.52-21.8 39.15 39.15 0 0 0-6.4-22.93h.1c.68 0 1.3-.2 1.85-.54.35.34.69.7 1.03 1.06l.99-.94-1.01-1.04c.45-.61.75-1.35.77-2.18a3.7 3.7 0 0 0-3.49-3.89c-.67-.02-1.3.16-1.86.47l-.12-.15-1.07.85.16.19a3.83 3.83 0 0 0-.78 1.68l-.85-.95a39.69 39.69 0 0 0-29.14-12.59c-11.6 0-22.1 4.99-29.42 12.97l.05-.37c.03-.87-.24-1.7-.75-2.39l.9-1.04-1.04-.88-.85.99a3.52 3.52 0 0 0-4.36.46c-.7.69-1.11 1.62-1.15 2.61a3.7 3.7 0 0 0 3.5 3.89h.11c.36 0 .7-.07 1.02-.16a39.17 39.17 0 0 0-1.9 44.22l-.12-.02c-1.01-.03-1.9.34-2.62 1.03a3.83 3.83 0 0 0-.18 5.29 3.5 3.5 0 0 0 2.53 1.21h.13c.92 0 1.8-.36 2.48-1.03.54-.53.9-1.2 1.06-1.94A39.84 39.84 0 0 0 50.7 89.87a39.67 39.67 0 0 0 29.63-13.18l-.04.27c-.03.98.3 1.87.87 2.56l-.67-.57-1 1.17 1.03.88.98-1.13c.6.58 1.4.95 2.29.98h.11a3.71 3.71 0 0 0 3.64-3.64c.03-.97-.3-1.86-.87-2.55l1-.99zM84.2 22.56h.08c1.25.04 2.23 1.16 2.18 2.49-.05 1.33-1.1 2.41-2.35 2.34-.53-.02-1-.23-1.37-.57l-.56-.73a2.52 2.52 0 0 1-.26-1.19c.05-1.31 1.06-2.34 2.28-2.34zM17.57 25.6c-1.25-.04-2.23-1.16-2.18-2.49.02-.65.28-1.26.73-1.7.43-.41.97-.64 1.54-.64h.08c.6.02 1.16.29 1.57.75.42.47.64 1.09.61 1.74-.04 1.34-1.13 2.42-2.35 2.34zm14.21-7.94l4.3 13.15.08.1a24.09 24.09 0 0 0-8.32 11.08l-14.02-.48a37.8 37.8 0 0 1 17.96-23.85zM18.04 76.53c-.45.44-.98.68-1.62.64a2.16 2.16 0 0 1-1.57-.75 2.46 2.46 0 0 1-.61-1.74c.02-.65.28-1.26.73-1.7.43-.42.97-.64 1.54-.64h.08c.58.02 1.11.27 1.52.71l.35.47c.22.39.33.84.31 1.31a2.47 2.47 0 0 1-.73 1.7zm31.31 11.39a37.81 37.81 0 0 1-14.1-3.24l2.5-8.87a.68.68 0 0 0-1.3-.36l-2.44 8.65A37.92 37.92 0 0 1 14.5 61.49l3.3-.25a.67.67 0 0 0 .62-.72.68.68 0 0 0-.72-.62l-3.6.27a37.3 37.3 0 0 1-.57-17.32l13.87.48a24.1 24.1 0 0 0-.85 10.02c.06.49.47.84.95.84l.13-.01c.53-.06.9-.55.83-1.07a22.03 22.03 0 0 1 6.94-19.08 22.25 22.25 0 0 1 16.04-5.96c.55.07.98-.4 1-.93a.96.96 0 0 0-.93-.99 24.17 24.17 0 0 0-14.23 3.99L32.98 17a37.75 37.75 0 0 1 17.67-4.36l1.33.02a37.9 37.9 0 0 1 15.1 3.69l-2.77 9.85c-.1.35.1.72.47.83l.18.02c.3 0 .57-.19.65-.49l2.71-9.6a37.76 37.76 0 0 1 10.05 7.65 37.35 37.35 0 0 1 8.78 15.5l-3.86.3a.67.67 0 0 0 .05 1.34h.05l4.1-.32a37.6 37.6 0 0 1 .38 15.99l-13.85-.48c.53-1.87.87-3.81.94-5.81.1-2.98-.35-5.89-1.29-8.63l7.05-.54a.68.68 0 0 0 .62-.73.67.67 0 0 0-.72-.61l-7.16.55a.75.75 0 0 0-.26.08 24.08 24.08 0 0 0-4.76-7.44.97.97 0 0 0-1.36-.05.96.96 0 0 0-.05 1.36 22 22 0 0 1 6 15.94 22.02 22.02 0 0 1-7.1 15.49 22.32 22.32 0 0 1-16.04 5.97 22.52 22.52 0 0 1-19.76-13.37c-.21-.49-8.93.49-8.93.49a.68.68 0 0 0-.63.72c.03.35.33.62.68.62h.05l7.31-.55a24.43 24.43 0 0 0 21.21 14c.3.02.58.02.87.02a24.2 24.2 0 0 0 13.64-4.2l4.31 13.2a37.86 37.86 0 0 1-19.29 4.47zm27.16-10.1a38.38 38.38 0 0 1-6.67 4.95l-4.35-13.31v-.01a24.04 24.04 0 0 0 8.14-11.18l13.96.49a37.29 37.29 0 0 1-11.08 19.06zm7.33 1.68c-1.26-.04-2.24-1.16-2.19-2.49.05-1.31 1.06-2.34 2.28-2.34H84c1.25.04 2.24 1.16 2.19 2.49-.05 1.34-1.15 2.4-2.35 2.34zm12.64-20.26l1.24.58c.22-.48.43-.96.63-1.45l-1.26-.5c-.19.46-.39.92-.61 1.37zm-4.78 7.72l1.09.82.93-1.25-1.11-.79c-.3.42-.6.82-.91 1.22zm3.76-5.7l1.19.65c.26-.46.5-.92.73-1.39l-1.22-.6c-.22.45-.46.9-.7 1.34zm-1.16 1.96l1.16.71c.28-.44.55-.88.81-1.34l-1.18-.67-.79 1.3zm-1.25 1.9l1.12.77c.29-.43.59-.86.87-1.3l-1.14-.73-.85 1.26zM28.04 86.53l-.93.99 1.16 1.05.9-1.01-1.13-1.03zm-1.67-1.58l-.95.97c.36.36.74.72 1.12 1.07l.94-.98c-.38-.36-.75-.7-1.11-1.06zm20.67 14.61c.53.11 1.06.21 1.58.28l.18-1.34c-.48-.07-.97-.16-1.46-.27zm-22.3-16.23l-.98.94 1.1 1.11.96-.96-1.08-1.09zm-6.15-4.85l1.07-.85-.2-.25-1.07.84zm1.54-.26l-1.05.86 1 1.19 1.04-.88-.99-1.17zm1.49 1.74l-1.03.89 1.04 1.16 1-.91c-.34-.38-.69-.76-1.01-1.14zm1.54 1.71l-1 .92 1.07 1.13.98-.94-1.05-1.11zm17.21 15.42c.48.24.95.47 1.43.68l.56-1.23c-.46-.21-.91-.43-1.37-.66zm-2.07-1.12c.46.26.92.52 1.38.76l.64-1.2c-.45-.23-.89-.48-1.33-.73zm-8.55-7.91l-.9 1.02 1.19 1.01.87-1.04-1.16-.99zm7.3 5.54l-.75 1.14 1.33.83.7-1.16-1.29-.81zm5.47 4.49c.49.21.98.4 1.47.58l.47-1.28c-.47-.17-.94-.35-1.41-.55zM31.5 89.54l-.87 1.04c.4.33.8.66 1.22.98l.84-1.06-1.2-.96zm1.8 1.42l-.83 1.08c.41.32.83.63 1.25.93l.8-1.09-1.23-.92zm1.84 1.36l-.79 1.11 1.28.88.77-1.13c-.43-.28-.85-.57-1.26-.86zm9.6 6.61c.5.16 1 .31 1.51.44l.35-1.31c-.48-.12-.96-.27-1.44-.42zm33.22-17.09l1.01.9c.35-.38.7-.77 1.03-1.16L79 80.69l-1.02 1.15zm-3.15 3.35l.98.94 1.08-1.11-1-.94-1.06 1.11zm1.6-1.66l.99.92 1.05-1.13-1-.91-1.05 1.12zm-10.2 9.2l.8 1.1c.42-.3.84-.62 1.25-.93l-.83-1.08c-.4.31-.81.62-1.22.91zm1.82-1.38l.85 1.06 1.2-.98-.87-1.04-1.18.96zm-3.7 2.68l.74 1.13c.44-.28.87-.57 1.3-.88l-.78-1.11c-.42.3-.84.58-1.26.86zm7.18-5.65l.93 1 1.13-1.06-.94-.98-1.12 1.04zM69.8 89.9l.9 1.02 1.17-1.02-.92-1.01-1.15 1.01zm3.4-3.1l.94.97c.38-.36.75-.72 1.11-1.09l-.96-.95-1.1 1.07zM53.98 98.39l.22 1.34c.53-.09 1.05-.2 1.57-.33l-.33-1.32c-.49.13-.97.23-1.46.31zm-2.22.24l.06 1.35c.53-.02 1.06-.07 1.6-.14l-.18-1.34c-.5.06-.99.11-1.48.13zm-2.02-.03l-.2-.02-.14 1.35.23.02c.46.03.91.05 1.37.05h.01l-.01-1.36c-.42 0-.84-.01-1.26-.04zm8.56-1.42l.5 1.26c.48-.19.97-.39 1.45-.61l-.56-1.24c-.46.21-.92.41-1.39.59zm-2.13.71l.37 1.31c.5-.15 1.01-.31 1.52-.49l-.46-1.27c-.48.17-.95.32-1.43.45zm4.2-1.62l.6 1.22c.47-.22.94-.46 1.4-.72l-.65-1.19c-.45.24-.9.48-1.34.69zm2.01-1.06l.68 1.18 1.35-.81-.73-1.14c-.43.27-.86.53-1.3.77zM9.72 30.7l-1.05-.87c-.33.4-.66.8-.98 1.22l1.08.83c.31-.4.63-.8.95-1.18zm-2.77 3.63l-1.12-.77c-.3.43-.58.86-.87 1.3l1.15.73.84-1.26zm1.35-1.84l-1.08-.82-.94 1.25 1.11.79c.3-.42.6-.82.91-1.22zm2.91-3.53l-1.02-.9c-.34.38-.68.77-1.02 1.18l1.04.87 1-1.15zm3.17-3.3l-.94-.97c-.36.33-.73.7-1.12 1.09l.98.95 1.08-1.07zm-1.61 1.62l-.99-.94-1.07 1.14 1.01.91c.36-.39.7-.76 1.05-1.11zm-10.8 25.9l-1.32.35c.14.5.3 1.01.46 1.51l1.3-.43c-.17-.48-.31-.95-.44-1.43zm1.57 4.2l-1.23.58c.22.47.46.94.7 1.4l1.21-.63c-.24-.45-.47-.9-.68-1.35zm2.22 3.95l-1.15.73.88 1.3 1.12-.78c-.3-.41-.57-.83-.85-1.25zm-.06-25.1l-1.16-.71c-.28.44-.55.88-.8 1.34l1.17.67.79-1.3zm2.73 28.8l-1.08.83.98 1.22 1.06-.87c-.33-.39-.65-.78-.96-1.18zm-1.38-1.82L5.94 64c.3.42.62.84.93 1.25l1.09-.82c-.31-.41-.61-.81-.9-1.22zM1.36 48.79L0 48.8c0 .53.03 1.07.08 1.6l1.36-.13c-.05-.49-.07-.98-.08-1.48zM1.52 51l-1.35.19c.08.52.18 1.05.3 1.57l1.32-.3c-.1-.48-.2-.97-.27-1.46zm1.14 4.31l-1.28.48c.18.49.38.97.6 1.45l1.25-.54c-.2-.46-.4-.92-.57-1.39zm1.92 4.08l-1.18.66c.25.45.52.9.8 1.35l1.16-.71c-.27-.43-.53-.87-.78-1.3zM2.64 42.28l-1.27-.47c-.19.5-.36 1-.51 1.5l1.3.39c.15-.47.3-.95.48-1.42zm.88-2.08l-1.24-.57-.63 1.44 1.27.51c.18-.46.39-.92.6-1.38zm-1.56 4.22l-1.32-.35c-.13.52-.25 1.04-.35 1.55l1.34.25c.1-.49.2-.97.33-1.45zm2.58-6.23l-1.2-.65c-.25.46-.49.92-.72 1.39l1.22.6.7-1.34zM9.88 66.8l-1.05.87 1.02 1.18 1.03-.9-1-1.15zm1.5 1.72l-1.01.9 1.05 1.15 1-.93-1.04-1.12zm2.64 2.78l-1.07-1.1-.99.93 1.08 1.11zM1.39 47.76l.12-1.17-1.35-.18c-.06.42-.1.84-.13 1.26l-.02.34 1.37.05zm55.28-30.75a45.78 45.78 0 0 1 4.06.89.68.68 0 0 0 .17-1.33 44.75 44.75 0 0 0-4-.88.68.68 0 0 0-.78.55c-.07.36.18.71.55.77zm-1.63-.91a.68.68 0 0 0-.6-.74 30.2 30.2 0 0 0-10.69.71.66.66 0 0 0-.49.81c.08.31.36.51.66.51l.17-.02a28.96 28.96 0 0 1 10.2-.67.7.7 0 0 0 .75-.6zM75 71.95a42.7 42.7 0 0 1-3.02 2.58.66.66 0 0 0-.11.94.68.68 0 0 0 .95.12c1.1-.85 2.14-1.75 3.11-2.66a.67.67 0 0 0 .03-.95.69.69 0 0 0-.96-.03zm5.38-5.28a.67.67 0 0 0-.94.17 32.53 32.53 0 0 1-2.76 3.42.67.67 0 0 0 .04.95c.13.11.3.17.46.17.18 0 .36-.07.5-.21a32.23 32.23 0 0 0 2.87-3.57.66.66 0 0 0-.17-.93z')
					.reason__title полная безопасность
						br
						| сисметы
				.reason
					.reason__icon-wrap
						.reason__icon
							svg(xmlns='http://www.w3.org/2000/svg', width='92', height='101', viewbox='0 0 92 101')
								path(d='M10.97 43.93l46.75-7.48a.75.75 0 0 0 .62-.85.75.75 0 0 0-.85-.62l-47.48 7.6a.75.75 0 0 0-.48.3.72.72 0 0 0-.13.55l3.93 24.72c.06.36.37.62.73.62l.12-.01c.4-.06.67-.44.61-.84zm79.95 11.88a7.73 7.73 0 0 0-7.88-6.5l-2.75-17.27a7.05 7.05 0 0 0-4.47-5.42c-.99-.97-1.31-2.32-1.33-3.74-.03-1.18-.09-3.13.81-4.08l1.77-.29a1.05 1.05 0 1 0-.33-2.08l-8.85 1.41.58-14.87a.74.74 0 0 0-.71-.77L37.14 1a.74.74 0 0 0-.77.71l-.09 2.47-14.91-.59a.73.73 0 0 0-.76.71l-.84 21.42a.98.98 0 0 0-.56-.09l-7.9 1.29c-.24.02-5.77.49-8.64 4.25-1.51 1.96-2 4.42-1.47 7.31l-.01.03 9.8 61.6c.04.27.2.52.42.69.19.13.4.2.62.2l.17-.01 69.62-11.14a7.76 7.76 0 0 0 4.93-2.9 6.93 6.93 0 0 0 1.42-5.38l-2.72-17.12a7.7 7.7 0 0 0 5.47-8.64zM67.81 20l5.59-.9a10.96 10.96 0 0 0-.4 3.78c.01 1.18.23 2.28.7 3.24a8.46 8.46 0 0 0-2.01.03l-4.15.67zM37.82 2.5l29.14 1.15-.91 23.41-2.2.35.6-15.35a.74.74 0 0 0-.54-.74 5.57 5.57 0 0 1-4.07-4.8.75.75 0 0 0-.7-.66l-6.44-.25v-.04a.73.73 0 0 0-.71-.77l-14.24-.56zm14.23 19.77l.59-15.18 5.83.23a7.04 7.04 0 0 0 4.48 5.25l-.59 15.08-1.78.28c-.43-2.98-3.95-5.35-8.53-5.66zm7.04 5.9l-7.32 1.17.22-5.58c3.74.27 6.78 2.19 7.1 4.41zM22.05 5.1l14.91.59 14.24.56-.91 23.33-2.21.35.6-15.27a.73.73 0 0 0-.54-.74 5.58 5.58 0 0 1-4.07-4.8.73.73 0 0 0-.7-.66l-13.26-.52a.72.72 0 0 0-.76.6 5.57 5.57 0 0 1-4.8 4.52.74.74 0 0 0-.65.71l-.78 20.16-2.21.35zM42.2 26.77a12.2 12.2 0 0 0-6.33-1.94c-5.17-.17-9.32 2.33-9.45 5.74a4.5 4.5 0 0 0 .83 2.69l-2.65.43.75-19.27a7 7 0 0 0 5.3-4.98l12.05.48a7.04 7.04 0 0 0 4.48 5.24l-.59 15.01-1.8.29a5.68 5.68 0 0 0-2.59-3.69zm1.11 3.92L28.88 33a3.3 3.3 0 0 1-.99-2.37c.1-2.5 3.74-4.5 7.93-4.31 2.12.08 4.09.67 5.54 1.67 1.14.78 1.8 1.73 1.95 2.7zM4.33 32.46c2.3-3.01 7.09-3.43 7.23-3.44l7.98-1.3c.06-.01.1-.04.15-.06l-.27 6.86-16.29 2.6a6.5 6.5 0 0 1 1.2-4.66zm81.76 49.45a4.83 4.83 0 0 1-1 3.74 5.68 5.68 0 0 1-3.6 2.11L12.91 98.73 3.44 39.22l4.9-.78v-.01l63.68-10.18c2.97-.49 5.75 1.37 6.19 4.12l2.73 17.17-4.84.78-1.94-12.19a1.05 1.05 0 1 0-2.08.33l1.94 12.19-7.09 1.14a7.78 7.78 0 0 0-6.42 8.89 7.75 7.75 0 0 0 8.86 6.44l7.4-1.19 1.91 12.05c.37 2.32-1.36 4.53-3.86 4.93L18.61 91.9l-.8-5.02a.75.75 0 0 0-.85-.62.74.74 0 0 0-.61.85l.92 5.76c.05.36.37.62.72.62l.12-.01 56.94-9.11c3.3-.53 5.59-3.5 5.09-6.62L78.22 65.7l5.16-.83zm1.74-21.57a5.55 5.55 0 0 1-3.66 2.26l-15.13 2.43a5.64 5.64 0 0 1-1.78-11.15l8.12-1.3h.01l6.92-1.11h.01l.07-.02a5.65 5.65 0 0 1 5.44 8.89zm-17.04-4.45a3.62 3.62 0 0 0-5.1.82 3.68 3.68 0 0 0 3.54 5.77 3.66 3.66 0 0 0 1.56-6.59zm-1.8 5.13a2.19 2.19 0 1 1 .94-3.93 2.18 2.18 0 0 1-.94 3.93zM16.74 46.56l-2.57.41a.74.74 0 0 0-.61.85c.06.37.37.63.73.63l.11-.01 2.57-.41a.74.74 0 0 0-.23-1.47zm9.84-.82a.74.74 0 0 0-.84-.62l-4.97.8a.74.74 0 1 0 .12 1.47l.11-.01 4.97-.79c.4-.07.68-.45.61-.85zm18-2.88a.74.74 0 0 0-.84-.62l-4.97.8a.74.74 0 1 0 .12 1.47l.11-.01 4.97-.79c.4-.07.68-.45.61-.85zm9.01-1.44a.77.77 0 0 0-.85-.62l-4.97.8a.74.74 0 1 0 .12 1.47l.11-.01 4.97-.79a.75.75 0 0 0 .62-.85zm2.57-.41c.05.36.37.62.72.62l.12-.01 4.97-.79c.4-.07.68-.45.61-.85a.74.74 0 0 0-.84-.62l-4.97.8a.74.74 0 0 0-.61.85zM35.58 44.3a.75.75 0 0 0-.84-.62l-4.97.8a.74.74 0 1 0 .12 1.47l.11-.01 4.97-.79c.4-.07.68-.45.61-.85zm30.31-4.11l.11-.01 2.57-.41c.4-.06.68-.44.61-.85a.74.74 0 0 0-.84-.61l-2.57.41a.74.74 0 0 0-.61.85c.05.36.37.62.73.62zM23.08 86.44l-2.57.41a.75.75 0 0 0-.61.85c.06.37.37.62.73.62h.12l2.56-.41a.75.75 0 0 0 .62-.85.75.75 0 0 0-.85-.62zm36-5.76l-4.97.8a.74.74 0 1 0 .12 1.47l.12-.01 4.97-.8c.4-.06.67-.44.61-.84a.74.74 0 0 0-.85-.62zm4.15.83l.11-.01 4.97-.8a.74.74 0 0 0 .62-.84.74.74 0 0 0-.85-.62l-4.97.8a.73.73 0 0 0-.61.84c.06.37.37.63.73.63zM32.08 85l-4.97.8a.73.73 0 0 0-.61.84c.06.37.37.63.73.63l.12-.01 4.96-.8a.74.74 0 0 0 .62-.84.75.75 0 0 0-.85-.62zm9-1.44l-4.97.8a.73.73 0 0 0-.61.84c.06.37.37.63.73.63l.12-.01 4.96-.8a.74.74 0 0 0 .62-.84.74.74 0 0 0-.85-.62zm9-1.44l-4.97.8a.74.74 0 1 0 .12 1.47l.12-.01 4.97-.8c.4-.06.67-.44.61-.84a.75.75 0 0 0-.85-.62zm22.15-2.05l.11-.01 2.57-.41c.4-.07.68-.44.61-.85a.73.73 0 0 0-.84-.61l-2.57.41a.74.74 0 0 0 .12 1.47zm11.25-27.42c-.84-.45-1.58.83-.75 1.28a4.78 4.78 0 0 1 2.5 4.97c-.16.93 1.26 1.33 1.42.39a6.29 6.29 0 0 0-3.17-6.64zm-2.2 16.21l1.21 7.58c.15.94 1.57.54 1.42-.39l-1.21-7.59c-.14-.94-1.56-.54-1.42.4zm1.51 10.52l.49 3.06c.15.94 1.57.54 1.42-.39l-.48-3.07c-.15-.94-1.58-.54-1.43.4z')
					.reason__title доступная
						br
						|  цена
				.reason
					.reason__icon-wrap
						.reason__icon
							svg(xmlns='http://www.w3.org/2000/svg', width='107', height='100', viewbox='0 0 107 100')
								path(d='M105.9 38.03a2.18 2.18 0 0 0-1.78-1.48l-33.61-4.89L55.48 1.22a2.22 2.22 0 0 0-3.96 0L36.49 31.66 2.88 36.54a2.17 2.17 0 1 0-1.22 3.73l24.32 23.7-5.74 33.47a2.18 2.18 0 0 0 2.17 2.56c.36 0 .71-.08 1.04-.26L53.5 83.95l30.06 15.79a2.19 2.19 0 0 0 3.2-2.3l-5.74-33.47 24.33-23.69c.59-.59.81-1.46.55-2.25zM79.43 62.46a1.38 1.38 0 0 0-.26-.22L60.02 52.18a1.1 1.1 0 0 0-1.49.46c-.29.53-.08 1.19.46 1.48l19.14 10.06c.17.09.34.13.52.13.06 0 .12-.04.18-.05l5.33 31.05a231.67 231.67 0 0 1-4.78-7.08 1.1 1.1 0 0 0-1.85 1.18 205.5 205.5 0 0 0 4.9 7.26L54.46 81.98c.08-.16.14-.32.14-.51V55.01c0-.61-.49-1.1-1.1-1.1-.61 0-1.1.49-1.1 1.1v26.46c0 .19.06.36.14.51L24.33 96.8c2.41-3.94 4.82-7.88 7.27-11.81a1.1 1.1 0 0 0-1.88-1.15c-2.28 3.67-4.54 7.36-6.8 11.05l5.25-30.63c.07.01.12.05.18.05.18 0 .35-.04.52-.13l20.26-10.65c.54-.28.75-.94.46-1.48a1.1 1.1 0 0 0-1.49-.45L27.84 62.24a.95.95 0 0 0-.26.22L4.7 40.17l11.52 2.58.24.03c.5 0 .96-.34 1.08-.85a1.1 1.1 0 0 0-.84-1.31L6.24 38.27l30.65-4.45c.03.21.11.42.27.59l12.96 13.54c.22.23.51.35.81.35.27 0 .54-.1.75-.3.45-.42.47-1.11.05-1.55L38.76 32.91c-.09-.1-.2-.17-.32-.23L52.4 4.42v12.35c0 .6.49 1.1 1.1 1.1.61 0 1.1-.5 1.1-1.1V4.42l13.96 28.27a.87.87 0 0 0-.32.22L55.99 45.78c-.42.44-.4 1.14.05 1.55a1.1 1.1 0 0 0 1.56-.04l12.25-12.88c.16-.17.23-.38.26-.59l30.65 4.45-15.91 3.57c-.6.13-.97.72-.83 1.31.11.51.57.85 1.07.85.08 0 .16 0 .25-.02l16.96-3.81zM37.42 45.27l-16.57-3.72c-.6-.14-1.19.23-1.32.83-.14.59.23 1.17.83 1.31l16.57 3.72.25.02a1.09 1.09 0 0 0 .24-2.16zm11.7 2.9l-7.71-1.73c-.6-.14-1.19.23-1.32.83-.14.59.23 1.17.83 1.31l7.72 1.73c.08.02.16.02.24.02.51 0 .96-.34 1.08-.85a1.1 1.1 0 0 0-.84-1.31zm5.48-23.72c0-.6-.49-1.09-1.1-1.09-.61 0-1.1.49-1.1 1.09v21.23c0 .6.49 1.09 1.1 1.09.61 0 1.1-.49 1.1-1.09zm-8.96 36.8a1.1 1.1 0 0 0-1.53.29 627.1 627.1 0 0 0-12.2 18.78 1.1 1.1 0 0 0 .36 1.51c.18.11.38.17.58.17.37 0 .73-.19.94-.52a592.1 592.1 0 0 1 12.15-18.71c.34-.51.21-1.19-.3-1.52zm6.64-9.45a1.1 1.1 0 0 0-1.54.26 367.61 367.61 0 0 0-4.84 6.86 1.1 1.1 0 0 0 .91 1.71c.35 0 .7-.16.91-.48 1.58-2.29 3.18-4.56 4.81-6.82.36-.49.25-1.18-.25-1.53zm2.63-.29c-.49.36-.6 1.04-.23 1.53 3.15 4.23 6.38 8.99 10.14 14.99.21.33.57.52.94.52.2 0 .4-.06.58-.17.52-.32.68-1 .36-1.51a227.56 227.56 0 0 0-10.25-15.14 1.1 1.1 0 0 0-1.54-.22zM66.3 71.3l2.74 4.49c1.98 3.23 3.95 6.47 5.96 9.67a1.1 1.1 0 0 0 1.52.35c.52-.32.68-.99.36-1.51-2.02-3.19-3.98-6.42-5.95-9.64l-2.75-4.5a1.11 1.11 0 0 0-1.52-.37 1.1 1.1 0 0 0-.36 1.51zm4.34-26.27l-12.55 2.82c-.6.13-.97.72-.83 1.31a1.09 1.09 0 0 0 1.32.82l12.55-2.81c.6-.14.97-.72.84-1.31a1.12 1.12 0 0 0-1.33-.83zm9.33-2.09l-6.51 1.46a1.1 1.1 0 1 0 .49 2.13l6.5-1.46c.6-.13.97-.72.84-1.31a1.1 1.1 0 0 0-1.32-.82z')
					.reason__title и самое главное,
						br
						|  еффективность
			.text-center
				a.butn(data-toggle="modal" href="#myModal") оставьте заявку
	section#problems
		.container
			.section-title
				span.section-title__top 5 проблем при выборе оборудования для
				h2.section-title__bottom
					| фитнес  
					span.red-color клуба
			.row
				.col-md-4
					ul
						li неэффективность
						li занимает много места
						li не долгосрочность
						li не интересное
						li дорого            
				.col-md-4
					img(src="img/img-problems.png"  alt="alt")
				.col-md-4
					ul
						li простые, безопасные и эффективные упражнения
						li мобильность
						li на всю жизнь
						li уникальность в том, что Freestyler моделирует естественные человеческие движения
						li быстрая окупаемость за счёт эффективности
			.text-center
				a.butn(data-toggle="modal" href="#myModal") оставьте заявку
	section#partners
		.container
			.section-title
				span.section-title__top нас выбирают
				h2.section-title__bottom
					| наши  
					span.red-color партнеры
			.row
				.col-md-3.partner
					.partner__logo
						img(src="#", alt="alt")
					.partner__location г. Москва
				.col-md-3.partner
					.partner__logo
						img(src="#", alt="alt")
					.partner__location г. орёл       
				.col-md-3.partner
					.partner__logo
						img(src="#", alt="alt")
					.partner__location г. тюмень
				.col-md-3.partner
					.partner__logo
						img(src="#", alt="alt")
					.partner__location г. новомосковск
				.col-md-3.partner
					.partner__logo
						img(src="#", alt="alt")
					.partner__location г. Москва
				.col-md-3.partner
					.partner__logo
						img(src="#", alt="alt")
					.partner__location г. новомосковск
				.col-md-3.partner
					.partner__logo
						img(src="#", alt="alt")
					.partner__location г. орёл
				.col-md-3.partner
					.partner__logo
						img(src="#", alt="alt")
					.partner__location хочу стать партнёром
	section#testimonials
		.container
			.section-title
				span.section-title__top видео
				h2.section-title__bottom
					| отзывы
					span.red-color о нас
			.slider
				.slider__item
					.video-wrap
						iframe(width='560', height='315', src='https://www.youtube.com/embed/ae_64joLnlY?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
				.slider__item
					.video-wrap
						iframe(width='560', height='315', src='https://www.youtube.com/embed/ae_64joLnlY?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
				.slider__item
					.video-wrap
						iframe(width='560', height='315', src='https://www.youtube.com/embed/ae_64joLnlY?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
		.text-center
			a.butn(data-toggle="modal" href="#myModal") оставьте заявку
