header
	.header__top
		.container
			#hamburger(data-toggle='collapse', data-target='#nav', aria-expanded='false')
				span
				span
				span
				span
			ul#nav
				li.current
					a(href="#") главная
				li
					a(href="#") 5 причин
				li
					a(href="#") 5 проблем
				li
					a(href="#") партнёры
				li
					a(href="#") пакеты
				li
					a(href="#") отзывы
				li
					a(href="#") контакты
	.header__bottom
		.container.clearfix
			.logo
				img(src="img/logo.png", alt="logo freestyler")
			.phone
				a(href="tel:+79066220077") +7 (906) 622 00 77
				a(data-toggle="modal" href="#myModal") 
					span заказать звонок
			.mail
				span Наш Email
				a(href="mailto:freestylerfitness@yandex.ru") freestyle rfitness@yandex.ru
				
