main {}

section {
    padding: 80px 0 60px;
}

#main {
    background: url("../img/bg-banner.png") no-repeat center;
    background-size: cover;
    padding-top: 148px;
    position: relative;
    padding: 150px 0 30px;
}

.main-banner {
    padding-top: 175px;

    &__title {
        p {
            &:first-child {
                color: #f23b3f;
                font-size: 24px;
                font-weight: 700;
                font-style: italic;
                line-height: 1.2;
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            &:last-child {
                color: #ffffff;
                font-size: 24px;
                font-weight: 400;
                line-height: 1.2;
                text-transform: uppercase;
                margin-bottom: 55px;
                letter-spacing: 3.8px;
            }
        }

        h1 {
            color: #ffffff;
            font-size: 110px;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
            margin-bottom: 18px;
            letter-spacing: 2px;
        }
    }

    &__butn-holder {
        margin-bottom: 180px;
    }
}

.red-color {
    color: $red;
}

.main-banner__promo {
    p {
        font-size: 24px;
        font-weight: 700;
        font-style: italic;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;

        &:last-child {
            font-size: 60px;
        }
    }
}

.scroll-down {
    position: absolute;
    bottom: 80px;
    right: -20px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    font-style: italic;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 30px;
    transform: rotate(-90deg);

    &:before {
        @include pseudo;
        width: 9px;
        height: 20px;
        left: 0;
        bottom: -5px;
        transform: rotate(90deg);
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='20' viewBox='0 0 10 20'%3E%3Cpath fill='%23fff' d='M4.96 19.82l3.89-3.86a.6.6 0 0 0 0-.85.62.62 0 0 0-.87 0L5.02 18v-17c0-.33-.16-1-.5-1-.34 0-.5.67-.5 1v17l-2.96-2.9a.6.6 0 0 0-1.04.42c0 .16.05.31.18.43l3.89 3.86c.24.24.63.24.87 0z'/%3E%3C/svg%3E");
        z-index: 1;
    }

    &:after {
        @include pseudo;
        left: -22px;
        bottom: -38px;
        width: 0;
        height: 0;
        transform: rotate(90deg);
        border-style: solid;
        border-width: 0 0 92px 92px;
        border-color: transparent transparent #f23b3e transparent;
    }

    &:focus,
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.section-title {
    margin-bottom: 60px;
    position: relative;

    &__top {
        display: block;
        color: #152330;
        font-size: 17px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
    }

    &__bottom {
        font-size: 60px;
        font-weight: 700;
        font-style: italic;
        line-height: 1;
        text-transform: uppercase;
        color: #152330;
    }

    &:before {
        @include pseudo;
        right: 100%;
        top: 0;
        bottom: 0;
        width: 50%;
        background: linear-gradient(-69deg, transparent 29.8px, $red 30px);
    }

    &_white {
        .section-title__bottom,
        .section-title__top {
            color: #fff;
        }
    }
}

.text__accent {
    font-weight: 700;
    font-style: italic;
    line-height: 1;
    text-transform: uppercase;
    color: #152330;
}

.about-text {
    margin-bottom: 50px;

    p {
        margin-bottom: 20px;
    }
}

#services {
    background-color: #f1f3f7;
}

.service {
    display: block;
    height: 300px;
    position: relative;
    padding: 0;

    &__title {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 35px;
        color: #ffffff;

        p {
            font-size: 24px;
            font-weight: 700;
            font-style: italic;
            line-height: 1.5;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        span {
            padding: 6px 14px 10px;
            background-color: #f23b3f;
            font-size: 15px;
            font-weight: 600;
            font-style: italic;
            line-height: 1;
            text-transform: uppercase;
        }
    }

    &_1 {
        background: linear-gradient(rgba(#000, 0.7), rgba(#000, 0.7)), url("../img/bg-service1.png");

        &:hover {
            background: linear-gradient(rgba($red, 0.8), rgba($red, 0.8)), url("../img/bg-service1.png");
        }
    }

    &_2 {
        background: linear-gradient(rgba(#000, 0.7), rgba(#000, 0.7)), url("../img/bg-service2.png");

        &:hover {
            background: linear-gradient(rgba($red, 0.8), rgba($red, 0.8)), url("../img/bg-service2.png");
        }
    }

    &_3 {
        background: linear-gradient(rgba(#000, 0.7), rgba(#000, 0.7)), url("../img/bg-service3.png");

        &:hover {
            background: linear-gradient(rgba($red, 0.8), rgba($red, 0.8)), url("../img/bg-service3.png");
        }
    }

    &:hover {
        .service__title {
            span {
                background-color: #fff;
                color: $red;
            }
        }
    }
}

.services-wrap {
    margin-bottom: 60px;
}

#reasons {
    background: url("../img/bg-reasons.png") no-repeat center;
    background-size: cover;
}

.reasons-wrap{


}

.reason {
    width: 20%;
    float: left;
    margin-bottom: 60px;


    &__icon-wrap {
        width: 176px;
        height: 176px;
        margin: 0 auto 35px;
        background: url("../img/bg-reason.png") no-repeat center;
        background-size: contain;
        position: relative;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 149px;
        border-radius: 50%;
        box-shadow: 0 0 3px #f23b3f, 0 -1px 0 1px #fff;

        svg {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill:#f23b3f;
        }
    }

    &__title {
        text-align: center;
color: #fff;
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
        line-height: 1.5;
        text-transform: uppercase;
    }
    &:hover{
        .reason__icon{
            box-shadow: 0 0 3px $red, 0 -1px 0 1px $red;
            background: $red;
            svg{
                fill:#152330!important;
            }
        }
        .reason__title{
            color: $red;
        }

    }

}


.slider {
    padding: 0 59px;
    position: relative;

    .slick-arrow {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 59px;
        z-index: 999;
        color: #4f96d0;
        font-size: 32px;
        line-height: 1;

        span {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin-top: -16px;
            text-align: center;
        }

        &:hover {
            color: #2ec47a;
        }
    }

    .slick-arrow-right {
        right: 0;
    }

    .slick-arrow-left {
        left: 0;
    }
}
