.modal-content .contacts-form-wrapper{
    position: relative;
}
.close-x {
    top: 15px;
    right: 15px;
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: pointer;
    &:hover{
        opacity: .8;
    }
    &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 22px;
        top: 7px;
        left: -3px;
        background: #fff;
    }
    &:before{
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:after {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}