header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
}

.header__top {
    min-height: 55px;
    background: rgba(#1d3041,.8 );
}

#nav {
    list-style: none;
    display: block;
    text-align: justify;
    line-height: 0;
    margin-bottom: -7px;

    &:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: "";
        display: inline-block;
    }

    > li {
        display: inline-block;
        text-align: left;
        line-height: normal;
        position: relative;
        padding: 0 15px;

        &:first-child {
            margin-left: 30px;
        }

        &:last-child {
            margin-right: 30px;
        }

        a {
            font-family: "Open Sans";
            @include fs(15);
            font-weight: 600;
            font-style: italic;
            line-height: 55px;
            text-transform: uppercase;
            color: #8e969d;

            &:hover {
                color: #f23b3f;
                text-decoration: none;
            }
        }

        &.current {
            background-color: #f23b3f;

            &:after,
            &:before {
                @include pseudo;
                top: 0;
                width: 0;
                height: 0;
                border-style: solid;
            }

            &:before {
                right: 100%;
                border-width: 0 0 55px 30px;
                border-color: transparent transparent #f23b3e transparent;
            }

            &:after {
                left: 100%;
                border-width: 55px 30px 0 0;
                border-color: #f23b3e transparent transparent transparent;
            }

            a {
                color: #ffffff;

                &:hover {
                    color: #ffffff;
                }
            }
        }
    }
}

.header__bottom {
    padding-top: 40px;
}

.logo {
    float: left;

    img {
        max-width: 100%;
    }
}

.mail {
    float: right;
    padding-right: 105px;
    position: relative;

    &:after {
        @include pseudo;
        height: 1px;
        width: 93px;
        background: #de3a3f;
        transform: rotate(-45deg);
        bottom: 20px;
        right: 0;
    }

    a,
    span {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        line-height: 1;
    }

    span {
        display: block;
    }

    a {
        text-decoration: underline;
    }
}

.phone {
    float: right;

    a[href*='tel'] {
        display: block;
        color: #fff;
        font-size: 19px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        margin-bottom: 10px;
    }

    a[data-toggle*='modal'] {
        display: block;
        color: #f23b3f;
        font-size: 15px;
        font-weight: 600;
        font-style: italic;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: none;
        padding-left: 28px;
        position: relative;

        span {
            display: inline-block;
            border-bottom: 1px dotted #f23b3f;
        }

        &:before {
            @include pseudo;
            left: 0;
            top: 0;
            width: 16px;
            height: 17px;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17'%3E%3Cpath fill='%23f23b3f' d='M4.24 17c.42 0 .83-.07 1.23-.21A16.87 16.87 0 0 0 15.82 6.16a3.67 3.67 0 0 0-1.27-4.05l-.78-.6a2.5 2.5 0 0 0-3.74.85L8.69 4.95c-.12.24-.19.52-.19.8 0 .43.16.85.46 1.18l.28.3c.28.3.33.74.15 1.1a4.72 4.72 0 0 1-2.05 2.05.98.98 0 0 1-1.1-.15l-.31-.28a1.78 1.78 0 0 0-1.98-.26l-2.59 1.33A2.49 2.49 0 0 0 .72 15l.9.9c.69.7 1.64 1.1 2.62 1.1zm8.01-14.5c.22 0 .43.07.61.2l.78.6c.74.56 1.04 1.53.75 2.4a15.32 15.32 0 0 1-9.42 9.68c-.78.27-1.7.06-2.28-.53l-.9-.9a1 1 0 0 1 .26-1.6l2.59-1.33c.1-.05.23 0 .28.04l.3.28c.75.68 1.91.84 2.81.37a6.22 6.22 0 0 0 2.69-2.69c.47-.92.32-2.04-.38-2.8l-.27-.3a.25.25 0 0 1-.07-.17l.03-.12 1.33-2.59a1 1 0 0 1 .89-.54z'/%3E%3C/svg%3E");
        }

        &:hover {
            span {
                border-color: transparent;
            }
        }
    }
}
// #hamburger {
// 	display: none;
// 	float: right;
// 	width: 30px;
// 	height: 18px;
// 	position: relative;
// 	margin: 26px 0 14px;
// 	-webkit-transform: rotate(0deg);
// 	-moz-transform: rotate(0deg);
// 	-o-transform: rotate(0deg);
// 	transform: rotate(0deg);
// 	-webkit-transition: .5s ease-in-out;
// 	-moz-transition: .5s ease-in-out;
// 	-o-transition: .5s ease-in-out;
// 	transition: .5s ease-in-out;
// 	cursor: pointer;
// 	span {
// 		display: block;
// 		position: absolute;
// 		height: 2px;
// 		width: 100%;
// 		background: $color-brand;
// 		//border-radius: 9px;
// 		opacity: 1;
// 		left: 0;
// 		-webkit-transform: rotate(0deg);
// 		-moz-transform: rotate(0deg);
// 		-o-transform: rotate(0deg);
// 		transform: rotate(0deg);
// 		-webkit-transition: .25s ease-in-out;
// 		-moz-transition: .25s ease-in-out;
// 		-o-transition: .25s ease-in-out;
// 		transition: .25s ease-in-out;
// 	}
// }
// #hamburger span:nth-child(1) {
// 	top: 0;
// }
// #hamburger span:nth-child(2),#hamburger span:nth-child(3) {
// 	top: 9px;
// }
// #hamburger span:nth-child(4) {
// 	top: 18px;
// }
// #hamburger.open span:nth-child(1) {
// 	top: 9px;
// 	width: 0;
// 	left: 50%;
// }
// #hamburger.open span:nth-child(2) {
// 	-webkit-transform: rotate(45deg);
// 	-moz-transform: rotate(45deg);
// 	-o-transform: rotate(45deg);
// 	transform: rotate(45deg);
// }
// #hamburger.open span:nth-child(3) {
// 	-webkit-transform: rotate(-45deg);
// 	-moz-transform: rotate(-45deg);
// 	-o-transform: rotate(-45deg);
// 	transform: rotate(-45deg);
// }
// #hamburger.open span:nth-child(4) {
// 	top: 9px;
// 	width: 0;
// 	left: 50%;
// }

.video-wrap {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
    padding-bottom: 56.25%;
}
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
    padding-bottom: 75%;
}

.video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
