@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	&:active, &:focus{
		outline: none!important;
	}
}
html{
	height: 100%;
	// font-size: 18px;
}
body{
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #152330;
	font-size: 18px;
}
.clearfix:before, .clearfix:after{
	content: '';
	display: table;
	clear: both;
}
$red: #f23b3f;
@mixin trans($type: all .3s ease-in-out ){
	transition: $type;
}



@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}

@mixin fs($sizeValue: 1.6){
	// font-size: ($sizeValue) + px;
	font-size: ($sizeValue/10) + rem;
}



h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

@mixin breakpoint($point) {
	@if $point == xl {
		@media (min-width: 1200px) { @content ; }
	}
	@else if $point == lg {
		@media (min-width: 992px) { @content ; }
	}
	@else if $point == md {
		@media (min-width: 768px) { @content ; }
	}
	@else if $point == sm {
		@media (min-width: 544px)  { @content ; }
	}
	@else if $point == xs {
		@media (max-width: 543px)  { @content ; }
	}
}
.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}
.butn{
	display: inline-block;
	padding: 17px 19px 18px;
	background-color: #f23b3f;
	min-width: 190px;
	text-align: center;
	border: 2px solid #f23b3f;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 600;
	font-style: italic;
	line-height: 1;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	&:hover, &:focus{
		text-decoration: none;
		color: $red;
		background-color: #fff;

	}

}
// @import 'sprite';
@import 'header';
@import 'content';
@import 'footer';
@import 'media';
